<li>
	{{dinner}}
	{{dataValues.mealSTR}}
	{{dataValues.likes}}
	{{Movie}}
	{{#if favorite}}


	<button class=" btn btn delete-favorite" data-id="{{this.id}}" data-newFavorite="{{this.dinner}}">
	</button>


	{{/if}}



</li>
