<li>
	{{dinner}}
	{{dataValues.mealSTR}}
	{{dataValues.likes}}
	{{Movie}}
    {{#if favorite}}

	
	<button class=" btn btn delete-favorite" data-id="{{this.id}}"
		data-newFavorite="{{this.dinner}}">
		   <img src="assets/img/BUR-min.gif" width="100" height="100" alt="{{this.dinner}}"> 


	</button>


{{/if}}



</li>